__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
dist/
build/

.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
.vscode/

runtime/Save_data/
**/*.ckpt
**/lightning_logs/

embedded_output/
extract_output/
