__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
dist/
build/

.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
.vscode/

Inference/runtime/Save_data/
Inference/**/*.ckpt
Inference/**/lightning_logs/

Inference/embedded_output/
Inference/extract_output/
